 - name: login to all hosts
   hosts: localhost
   become: false
   gather_facts: true
   serial: "100%"

   tasks:


#   - name: perform ssh copy id to all nodes
#     shell: |
#       set prompt "#|>|\\\$"
#       spawn ssh-copy-id root@{{hostvars[item]['ansible_ssh_host']}}
#       expect {"(yes/no)" { send "yes\r";exp_continue} "password"}
#       send "yes\r"
#       expect {"password:" { send "{{roottemppas}}\r";exp_continue} "password"}
#       send "{{roottemppas}}\r"
#       expect -re $prompt
#     args:
#       executable: /usr/bin/expect
#     register: response
#     changed_when: "'sure' in response.stdout"
#     with_items:
#       - "{{ groups['nodes'] }}"

   - name: Generic question with multiple different responses
     expect:
       command: ssh-copy-id -f root@{{hostvars[item]['ansible_ssh_host']}}
       responses:
         Question:
           - "yes"
           - "{{roottemppas}}"
     with_items:
       - "{{ groups['nodes'] }}"
       
